@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-jetBrainsMono bg-background text-foreground leading-loose;
  }

  h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline{
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .text-outline-hover{
    -webkit-text-stroke: 1px #c0111f;
  }
}

input:-webkit-autofill {
  background-color: #a50d29 !important; /* Cor de fundo bg-accent */
  color: #f2f2f2 !important; /* Cor do texto foreground */
  -webkit-text-fill-color: #f2f2f2 !important; /* Impede que o texto se torne preto */
  transition: background-color 5000s ease-in-out 0s !important; /* Impede a mudança de cor durante o preenchimento */
}


